<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label :cooking_time %><br>
    <%= f.text_field :cooking_time %>
  </div>
  <div class="form-group">
    <%= f.label :difficulty_level %><br>
    <%= f.select(:difficulty_level, Recipe::DIFFICULTY,{}, 
      class: "form-control") %>
  </div>
  <div class="form-group">
    <%= f.label :food_type_id %><br>
    <%= f.select(:food_type_id,
      options_from_collection_for_select(FoodType.all, :id, :name),
      prompt: "Please Choose", class: "form-control") %>
  </div>
  <div class="form-group">
    <%= f.label :food_preference_id %><br>
    <%= f.select(:food_preference_id, 
      options_from_collection_for_select(FoodPreference.all, :id, :name), 
      prompt: "Please Choose", class: "form-control") %>
  </div>
  <div class="form-group">
    <%= f.label :cuisine_id %><br>
    <%= f.select(:cuisine_id,
      options_from_collection_for_select(Cuisine.all, :id, :name),
      prompt: "Please Choose", class: "form-control") %>
  </div>
  <div class="form-group">
    <%= f.label :servings %> <br>
    <%= f.text_field :servings %>
  </div>
  <div class="form-group">
    <%= f.label :ingredients %><br>
    <%= f.text_area :ingredients %>
  </div>
  <div class="form-group">
    <%= f.label :prodecure %><br>
    <%= f.text_area :prodecure %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
